/* @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
 */

/* import fonts from fonts.css file */
@import url(./fonts.css);

/* variables */

/*
=============== 
Variables
===============
*/

:root {
	/* weather color used for  fonts */
	--clr-Clear: #ffc200;
	--clr-Rain: #788a8e;
	--clr-Thunder: #d3ad1b;
	--clr-Dizzle: #90a8b0;
	--clr-Clouds-9: #b8cbd1;
	--clr-Snow: #80bfcf;
	--clr-Atmosphere: #99a7aa;

	/* blackshades used for background */
	--clr-black-5: hsl(0, 0%, 0%);
	--clr-black-6: hsl(0, 0%, 15%);
	--clr-black-7: hsl(0, 0%, 25%);
	--clr-black-8: hsl(0, 0%, 43%);
	--clr-black-9: hsl(0, 0%, 60%);
	--clr-black-10: hsl(0, 0%, 83%);

	/* dark shades of primary color*/

	/* primary/main color */
	--clr-primary-5: #49a6e9;
	/* lighter shades of primary color */
	--clr-yprimary-6: hsl(44, 100%, 50%);
	--clr-yprimary-7: hsl(44, 100%, 58%);
	--clr-yprimary-8: hsl(44, 100%, 67%);
	--clr-yprimary-9: hsl(44, 100%, 72%);
	--clr-yprimary-10: hsl(44, 100%, 83%);

	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: #49a6e9;
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	/* --clr-grey-2: hsl(211, 39%, 23%); */
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-2: hsl(0, 0%, 94%);
	--clr-grey: hsl(0, 0%, 81%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-gold: #c59d5f;
	--clr-black: #222;
	--clr-blackop: #2222228e;
	--ff-Roboto: "Roboto";
	--ff-RobotoLight: "RobotoLight", sans-serif;
	--ff-RobotoThin: "RobotoThin", sans-serif;
	--ff-RobotoMedium: "RobotoMedium", sans-serif;
	--ff-RobotoItalic: "RobotoItalic", sans-serif;
	--ff-RobotoBlack: "RobotoBlack", sans-serif;
	--ff-RobotoBold: "RobotoBold", sans-serif;
	--ff-secondary: "Open Sans", sans-serif;
	--transition: all 0.3s linear;
	--spacing: 0.25rem;
	--radius: 0.5rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.514);
	--max-width: 1170px;
	--fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: var(--ff-Roboto);
	background: var(--clr-white);
	color: var(--clr-black);
	line-height: 1.5;
	font-size: 0.875rem;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img:not(.logo) {
	width: 100%;
}
img {
	display: block;
}

h1,
h2,
h3,
h4 {
	/* letter-spacing: var(--spacing); */
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: var(--ff-RobotoBold);
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2.5rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 5rem;
	}
	h2 {
		font-size: 4rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}
/*  global classes */

.btn {
	text-transform: uppercase;
	background: transparent;
	color: var(--clr-white);
	padding: 1rem;
	letter-spacing: var(--spacing);
	display: inline-block;
	transition: var(--transition);
	font-size: 1rem;
	border: 2px solid var(--clr-white);
	cursor: pointer;
	box-shadow: 0 1px 3px rgba(255, 187, 0, 0.2);
	border-radius: var(--radius);
}
.btn:hover {
	color: var(--clr-white);
	background: var(--clr-black);
}
/* section */
.section {
	padding: 5rem 0;
}

@media screen and (min-width: 992px) {
	.section-center {
		width: 95vw;
	}
}
main {
	min-height: 100vh;
	display: grid;
	place-items: center;
}

.a {
	font-family: var(--ff-Roboto);
}

.b {
	font-family: var(--ff-RobotoLight);
}
.c {
	font-family: var(--ff-RobotoThin);
}
.d {
	font-family: var(--ff-RobotoMedium);
}
.e {
	font-family: var(--ff-RobotoItalic);
}
.f {
	font-family: var(--ff-RobotoBlack);
}
.g {
	font-family: var(--ff-RobotoBold);
}

.background {
	animation: fade 1s 0.2s ease-out forwards;
	opacity: 0;
	background: url(../img/intro-01.png);
	/* background-image: url(../img/Clear.jpg); */
	background-size: cover;
	/* background-color: var(--clr-blackop); */
	position: relative;
	width: 96vw;
	height: 96vh;
	/* width: 100%;
	height: 100%; */
	/* margin-right: 4vw;
	margin-bottom: 4vh; */
	display: block;
	top: 2vh;
}

.cardBox {
	animation: fade-slide-up 1s 0.2s ease-out forwards;
	position: absolute;
	background-color: var(--clr-white);
	width: 500px;
	height: 96vh;
	left: 4vw;
	opacity: 0;
	/* overflow: hidden; */
	overflow: auto;
}
.layer {
	background-color: var(--clr-blackop);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Box1 {
	/* padding: 30px; */
	padding: 5px 30px;
	width: 100%;
	/* padding-bottom: 5px; */
	/* height: 45vh; */
	/* border: solid black;
	margin-bottom: 10px; */
}

.Box1 .city {
	color: var(--clr-Clear);
}

.Box1 .date {
	color: var(--clr-grey);
	margin-left: 0.5rem;
}
.space {
	margin-left: 7rem;
}

.iconBox {
	height: 20vh;
}

.icon {
	height: 20vh;
	padding: 1rem;
	box-sizing: border-box;
}

.temp .space {
	margin-left: 12rem;
}

.left {
	float: left;
}

.sidetemp {
	color: var(--clr-grey);
	position: absolute;
	right: 30px;
}

/* * {
	border: solid black;
	margin-bottom: 10px;
	padding: 3px;
} */

.ma {
	margin: 0;
}

.line {
	/* height: 10px; */
	padding: 3px;
	width: 100%;
	background-color: var(--clr-grey);
	margin: 0rem 2rem;
}

/* .temp sup {
	font-size: 3rem;
} */

.box2 {
	text-align: center;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	width: 100%;
}

.show {
	padding: 15px;
	background-color: var(--clr-grey-2);
	margin: .5rem;
	width: 45%;
}

.showbox {
	padding: 10px;
	background-color: black;
	width: 100%;
}

.show img {
	width: 40%;
}

.show h3 {
	font-size: 2.5rem;
	color: var(--clr-Clear);
}

.box3 {
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 10px;
	width: 100%;
}

.box3 h3 {
	font-family: var(--ff-RobotoThin);
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: .1rem;
}

.box3 h4 {
	font-size: 1.2rem;
	font-family: var(--ff-RobotoThin);
	/* font-weight: 900;
	letter-spacing: .1rem; */
}

.box3 span {
	color: var(--clr-grey);
}

/* @media screen and (max-height: 800px) {
	.cardBox {
		opacity: 0.6;
		left: 50%;
		transform: translatex(-50%);
		width: 100%;
	}
	.Box1 {
		float: left;
	}
	.box2 {
		float: left;
	}
} */

.Clouds {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Cloud.jpg);
	background-size: cover;
	background-position: center;
}
.Thunderstorm {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Thunderstorm.jpg);
	background-size: cover;
	background-position: center;
}
.Drizzle {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Drizzle.jpg);
	background-size: cover;
	background-position: center;
}

.Rain {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Rain.jpg);
	background-size: cover;
	background-position: center;
}

.Snow {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Snow.jpg);
	background-size: cover;
	background-position: center;
}

.Mist {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Mist.jpg);
	background-size: cover;
	background-position: center;
}

.Haze {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Haze.jpg);
	background-size: cover;
	background-position: center;
}
.Clear {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/Clear.jpg);
	background-size: cover;
	background-position: center;
}
.wall {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/wall2-01.png);
	background-size: cover;
	background-position: center;
}
.err {
	animation: fade 1s 0.2s ease-out forwards;
	background: url(../img/errr-01.png);
	background-size: cover;
	background-position: center;
}

.search {
	margin-right: 2rem;
	padding: 50px;
	float: right;
	position: relative;
	transform: translateY(40%);
}

.searchbox {
	padding: 20px;
	width: 30vw;
	margin-right: 30px;
}

/* The starting CSS styles for the enter animation */

@media screen and (max-width: 1200px) {
	.cardBox {
		animation: fade-slide-upp 1s 1s ease-out forwards;
		opacity: 0;
		left: 50%;
		width: 70%;
		transform: translatex(-50%);
		height: 80vh;
		top: 12vh;
		/* opacity: 0; */
	}
	.background {
		width: 100vw;
		height: 100vh;
		top: 0;
	}
	.search {
		padding: 20px;
		position: relative;
		left: 50%;
		transform: translatex(-50%);
		float: left;
		/* width: 100vw; */
	}

	.btn {
		float: right;
	}
}

@media screen and (min-width: 1800px) {
	.search {
		position: relative;
		transform: translatex(-40%);
	}
}

@media screen and (max-width: 500px) {
	.cardBox {
		position: relative;
		top: 0vh;
		width: 100vw;
		/* height: 88vh; */
		/* transform: none; */
		transform: translateX(-47vw);
	}
	.searchbox {
		width: 50vw;
		margin: 10px;
		padding: .2rem;
	}
	.btn {
		padding: 0.2rem;
		margin: 10px;
	}
	.search {
		padding: 5px;
		margin: auto;
	}
}
.none {
	display: none;
}

.top {
	top: 40%;
	transform: translatex(-65%);
}
.cardBox.ng-enter {
	transition: 2.5s linear all;
	opacity: 0;
	transform: translateY(50px);
}

/* The finishing CSS styles for the enter animation */
.cardBox.ng-enter.ng-enter-active {
	transform: translateY(0);
	opacity: 1;
}

@keyframes fade-slide-up {
	0% {
		opacity: 0;
		transform: translateY(4rem);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-slide-upp {
	0% {
		opacity: 0;
		transform: translateY(4rem);
		/* transform: translatex(-50%); */
	}
	100% {
		/* transform: translateY(0);
		transform: translatex(-50%); */

		opacity: 0.6;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
